@use './variables' as *;

.btn-1 {
    padding: 9px 15px;
    background-color: $text-secondary;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: $first-color;
}

.btn-2 {
    padding: 9px 15px;
    border: solid 1px $play-color;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}