@use './variables' as *;

.btn-1 {
    padding: 9px 15px;
    background-color: $text-secondary;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: $first-color;
    font-size: 16px;
    cursor: pointer;
}

.btn-2 {
    padding: 9px 15px;
    border: solid 1px $bg-primary;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn-2:hover {
    background-color: $text-secondary;
    color: $first-color;
}