@use './variables' as *;
@use './btn';

/*utilities*/

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.g-text {
    color: $second-grey;
}

h5 {
    color: $text-secondary;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-size: 35px;
}

.highlighted {
    display: inline-block;
    padding: .2rem;
    background-color: $bg-secondary;
    color: $bg-primary;
}

p {
    color: $second-grey;
    max-width: 70%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

/*video section*/

.container {
    max-width: 1170px;
    margin: auto;
    padding: 5rem;
    text-align: center;
}

.video-title {
    width: 60%;
    margin: auto;
    text-align: center;
}

.video-image {
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    img {
        width: 100%;
    }
}
.play-green {
    font-size: 60px;
    color: $bg-primary;
    position: absolute;
    left: 47%;
    bottom: 45%;
}

.play-second {
    font-size: 60px;
    color: $play-color;
    position: absolute;
    left: 47%;
    bottom: 43%;
}

/*statistiche azienda*/
#stats {
    background-image: url('../assets/bg-3.jpg');
    background-size: cover;
}

#stats .container {
    text-align: center;
}

.stats-title {
    color: $first-color;
    span {
        color:$first-color;
    }
}
.stats-info {
    width: 100%;
    display: flex;
    margin-top: 4rem;
}

.minicard {
    width: calc(100%/ 4);
}

.number {
    color: $text-secondary;
    font-size: 40px;
    font-weight: bolder;
}

.info-name {
    color: $first-color;
    text-transform: uppercase;
    font-weight: bolder;
}
/*servizi e prodotti*/

#services {
    background-color: $first-black;
}

#services p {
    color: $text-third;
    text-align: left;
    display: inline-block;
}

#services .container {
    text-align: left;
    padding: 4rem 0;
}

.title-wrapper {
    display: inline-block;
    width: 80%; 
    margin-left: 3.5rem;
    color: $first-color;
}

#services .btn-2 {
    display: inline-block;
    color: $first-color;
    margin-left: 1.5rem;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

.product {
    width: calc((100% / 3.5));
    margin: 1rem;
    background-color: $second-grey;
    border-radius: 5px;
}

/*sezione Team*/ 

#team .container {
    display: flex;
}

.main-team {
    width: 70%;
    text-align: left;
    display: inline-block;
}
.team-list {
    display: flex;
    flex-wrap: wrap;

}
.team-member {
    width: calc(100% / 2);
    margin: 1.5rem 0 ;
}

.main-team p {
    text-align: left;
    margin-left: 0;
}

.president-speech {
    display: inline-block;
    padding: 2rem;
    height: 400px;
    width: 30%;
    text-align: left;
    background-color: $bg-primary;
    color: $first-color;
    border-radius: 3px;
    margin-top: 3rem;
    div {
        display: block;
        color: $first-color;
        width: 100%;
        text-align: left;
        margin: 1rem 0;
        font-size: 14px;
    }
    h3 {
        font-weight: 900;
    }
    h5 {
        display: inline-block;
        color: $first-color;
    }
    i {
        color: $first-black-t;
        position: relative;
        left: 150px;
        font-size: 20px;
    }
}

/*sezione delle news*/
#news {
    background-color: $bg-third;
}

#news .title-wrapper {
    width: 100%;
    text-align: left;
    margin: 0;
    display: inline-block;
}

.news-title {
    display: flex;
}

#news .btn-1 {
    flex-shrink: 0;
    height: 40px;
    align-self: flex-end;
}

.articles {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.article {
    margin-top: 2rem;
    width: calc(100% / 3);
    position: relative;
    img {
        width: 100%;
        z-index: 0;
        border-radius: 10px;
        filter: grayscale(40%);
    }
    h3 {
        width: 80%;
        font-weight: 900;
        position: absolute;
        bottom: 20px;
        left: 28px;
        z-index: 99;
        color: $first-color;
    }
}

/*sezione newsletter*/

#newsletter {
    background-color: $first-black;
}

#newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter .title-wrapper, #newsletter .little-form  {
    text-align: left;
    width: calc(100% / 2.5);
    color: $first-color;
}

.input-text {
    width: 80%;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    background-color: $second-grey;
    border: none;
    border-radius: 3px;
    color: $first-color;
}

#newsletter .btn-1 {
    display: inline-block;
}

#newsletter .highlighted {
    color: $first-color;
}

/*sezione "message"*/
#message .container {
    display: flex;
}

#message .left-part {
    text-align: left;
    width: 70%;
}
#message .title-wrapper {
    width: 100%;
}

.form-wrapper {
    margin-top: 2rem;
}

#message .btn-1 {
    display: inline-block;
    margin-top: 2rem;
}

.right-part {
    width: 30%;
    text-align: left;
    margin-left: 2rem;
}

.icon-rounded {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $bg-secondary;
    color: $bg-primary;
    border-radius: 50%;
    position: relative;
    margin-right: 5px ;
    i {
        position: relative;
        top:5px;
        left: 8px;
    }
}

#message .btn-2 {
    color: $bg-primary;
    display: inline-block;
}

.example-text {
    color: $bg-primary;
}

