@use './variables' as *;
@use './btn';

/*utilities*/

.mt-2 {
    margin-top: 2rem;
}
/*video section*/
.container {
    max-width: 1170px;
    margin: auto;
    padding: 5rem;
    text-align: center;
}

h6 {
    color: $bg-primary;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-weight: 900;
    font-size: 35px;
}
.highlighted {
    display: inline-block;
    padding: .2rem;
    background-color: $bg-secondary;
    color: $bg-primary;
}

p {
    color: $second-grey;
    max-width: 70%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.video-image {
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    img {
        width: 100%;
    }
}
.play-green {
    font-size: 60px;
    color: $bg-primary;
    position: absolute;
    left: 47%;
    bottom: 45%;
}

.play-second {
    font-size: 60px;
    color: $play-color;
    position: absolute;
    left: 47%;
    bottom: 43%;
}

/*statistiche azienda*/
#stats {
    background-image: url('../assets/bg-3.jpg');
    background-size: cover;
}

#stats .container {
    text-align: center;
}

.stats-title {
    color: $first-color;
    span {
        color:$first-color;
    }
}
.stats-info {
    width: 100%;
    display: flex;
    margin-top: 4rem;
}

.minicard {
    width: calc(100%/ 4);
}

.number {
    color: $text-secondary;
    font-size: 40px;
    font-weight: bolder;
}

.info-name {
    color: $first-color;
    text-transform: uppercase;
    font-weight: bolder;
}
/*servizi e prodotti*/

#servicies {
    background-color: $first-black;
}

#servicies p {
    color: $text-third;
    text-align: left;
    display: inline-block;
}

#servicies .container {
    text-align: left;
    padding: 4rem 0;
}

.title-wrapper {
    width: 91%; 
    margin: auto;
}

#servicies .btn-2 {
    color: $first-color;
    margin-left: 200px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
}

.product {
    width: calc((100% / 3.5));
    margin: 1rem;
    background-color: $second-grey;
    border-radius: 5px;
}

/*sezione Team*/ 

#team .container {
    display: flex;
}

.main-team {
    width: 70%;
    text-align: left;
    display: inline-block;
}
.team-list {
    display: flex;
    flex-wrap: wrap;

}
.team-member {
    width: calc(100% / 2);
    margin: 1.5rem 0 ;
}

.main-team p {
    text-align: left;
    margin-left: 0;
}

.president-speech {
    display: inline-block;
    padding: 2rem;
    height: 400px;
    width: 30%;
    text-align: left;
    background-color: $bg-primary;
    color: $first-color;
    border-radius: 3px;
    margin-top: 3rem;
    div {
        display: block;
        color: $first-color;
        width: 100%;
        text-align: left;
        margin: 1rem 0;
        font-size: 14px;
    }
    h3 {
        font-weight: 900;
    }
    h5 {
        display: inline-block;
    }
    i {
        color: $first-black-t;
        position: relative;
        left: 150px;
        font-size: 20px;
    }
}