$first-color: #fff;
$bg-primary: #048383;
$bg-secondary: #52b9bb60;
$text-secondary: #52b9bb;
$main-grey: #bcbdbd;
$first-black: #111117;
$second-grey: #4e4f52ce;
$top-color: #568597;
$play-color:#c5e8eabb;
$text-third: #c0c3d0;