$first-color: #fff;
$bg-primary: #048383;
$bg-secondary: #52b9bb60;
$text-secondary: #52b9bb;
$main-grey: #bcbdbd;
$first-black: #111117;
$first-black-t: #1111175b;
$second-grey: #4e4f52b6;
$grey-transparrent: #4e4f522f;
$top-color: #568597;
$play-color:#c5e8eabb;
$text-third: #c0c3d0;
$bg-third: #eef4ed;
$form-grey: #ececec;